/* MAIN SECTION */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    /* background: #eef6fd; */
  }
  
  /* LEFT INFO */
  .hero-left .info {
    display: flex;
    gap: 12px;
    margin-bottom: 22px;
  }
  
  .hero-left i {
    color: #2563eb;
    font-size: 18px;
  }
  
  .hero-left span {
    font-size: 12px;
    color: #6b7280;
  }
  
  .hero-left p,
  .hero-left a {
    font-weight: 600;
    color: #111;
    text-decoration: none;
  }
  
  /* CENTER */
  .hero-center {
    text-align: center;
    flex: 1;
  }
  
  .hero-center h1 {
    font-size: 32px;
  }
  
  .hero-center h1 span {
    color: #2563eb;
  }
  
  .role {
    color: #4b5563;
    margin: 10px 0 20px;
  }
  
  .hero-center h2 {
    margin-bottom: 20px;
  }
  
  /* SKILLS */
  .skills {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .skills i {
    font-size: 42px;
    transition: transform 0.3s ease;
  }
  
  .skills i:hover {
    transform: scale(1.2);
  }
  
  /* ICON COLORS (Brand Match) */
  .angular {
    color: #dd0031;
  }
  
  .react {
    color: #61dafb;
  }
  
  .js {
    color: #f7df1e;
  }
  
  .css {
    color: #2965f1;
  }
  
  .html {
    color: #e34c26;
  }
  
  .github {
    color: #181717;
  }
  
  /* RIGHT IMAGE */
  .hero-right img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
  }
  
  /* RESPONSIVE */
  @media (max-width: 900px) {
    .hero-section {
      flex-direction: column;
      gap: 40px;
      padding: 40px 20px;
    }
  }
  
  .ts-logo {
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease;
    border-radius: 6px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    /* vertically centers items */
    justify-content: space-between;
    /* spreads name and contact apart */
    margin-top: -60px;
  }