<div class="hero-section">
    <div class="hero-center">
      <h1>Hi, I'm <span>Santhosh Kumar S</span> 👋</h1>
      <p class="role">Front End Developer (Angular | React)</p>
  
      <h2>Skills</h2>
      <div class="skills">
        <i class="fab fa-angular angular"></i>
        <i class="fab fa-react react"></i>
        <i class="fab fa-js js"></i>
  
        <!-- TypeScript Logo -->
        <svg class="ts-logo" viewBox="0 0 256 256" aria-label="TypeScript">
          <rect width="256" height="256" rx="28" fill="#3178C6"></rect>
          <text x="50%" y="62%" text-anchor="middle" font-size="120" fill="#fff"
            font-family="Arial, Helvetica, sans-serif" font-weight="700">
            TS
          </text>
        </svg>
  
        <i class="fab fa-css3-alt css"></i>
        <i class="fab fa-html5 html"></i>
        <i class="fab fa-github github"></i>
      </div>
      <div>
        <p>Contect Number : 📞 9585617355 - Gmail : 📩 santhoshsangili.2802&#64;gmail.com</p>
      </div>
    </div>
  
    <!-- RIGHT -->
    <div class="hero-right">
      <img src="/portfolio_clean.png" alt="Santhosh Kumar S" class="profile-img" />
    </div>
  
  </div>