<section id="projects">
    <h2>Projects</h2>

    <div class="project">
        <h3>Integrated Excise Supply Chain Management System (IESCMS)</h3>
        <p>A complex application management system designed to streamline the liquor excise supply chain process.</p>
        <ul>
            <li>Managed application workflows including product requests, approvals, and transport pass generation</li>
            <li>Integrated RESTful APIs with Angular to process dynamic data for modules such as order pickup, dispatch,
                stock management, and sales tracking</li>
            <li>Implemented features for payment deduction, refund processing, and returns, ensuring accuracy and
                reliability</li>
            <li>Enabled real-time tracking and monitoring of stock movement across the supply chain from liquor
                manufacturing to retail shop sales</li>
        </ul>
    </div>

    <div class="project">
        <h3>Oasys Portal</h3>
        <p>A versatile HR and company management system aimed at improving internal processes and employee management.
        </p>
        <ul>
            <li>Developed a React.js based HR Portal and Company Management System with modules for employee
                registration, attendance, leave, project and task tracking, and online meetings</li>
            <li>Designed and implemented responsive UI components with React, integrated RESTful APIs, and applied state
                management (Redux) for real-time updates</li>
        </ul>
    </div>
</section>