<section id="experience">
    <h2>Experience</h2>

    <div class="experience-item">
        <h3>Angular Developer</h3>
        <p class="company">Oasys Cybernetics Private Ltd | Chennai, India</p>
        <p class="duration">06/2022 - Present</p>
        <ul>
            <li>Front-End Developer with 3.6 years of experience specializing in Angular development</li>
            <li>Proficient in creating scalable, responsive, and high-performance applications with expertise in RxJS,
                NgRx, Components, Services, Routing, and Forms</li>
            <li>Skilled in RESTful API integration, state management, and performance optimization</li>
            <li>Experienced in Agile methodologies and collaborating with cross-functional teams to deliver user-centric
                solutions</li>
            <li>Passionate about adopting modern front-end technologies and enhancing user experience</li>
        </ul>
    </div>
</section>