<section id="skills">
    <h2>Skills</h2>
    <div class="skills-container">
      <div class="skills-left">
        <ul>
          <li>Angular</li>
          <li>React.js</li>
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
        </ul>
      </div>
      <div class="skills-right">
        <ul>
  
          <li>Node.js</li>
          <li>GitHub</li>
          <li>Git</li>
          <li>GitLab</li>
          <li>JIRA</li>
          <li>Postman</li>
          <li>RESTful API</li>
        </ul>
      </div>
    </div>
  </section>